PORT=5000
MONGO_URI=mongodb://localhost:27017/mobile_store
JWT_SECRET=myRajKey123
CLIENT_URL=http://localhost:5173

# Cloudinary (optional image hosting)
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Razorpay Payment
RAZORPAY_KEY_ID=rzp_test_SOa7mQJOvPaxfu
RAZORPAY_KEY_SECRET=PYeePXTW79vF7kNi4aDjUvFl

# Stripe Payment (alternative)
STRIPE_SECRET_KEY=your_stripe_secret_key
